*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: Open sans, sans-serif;
    background: linear-gradient(to right, #fcf3e0, #f3e2cf);
    padding: clamp(20px, 5vw, 50px) 20px 10px;
    position: relative;
}

.title__container, .list__container {
    display: flex;
    justify-content: center;
}

.title__container {
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.list__container ul{
    list-style: none;
}
.list__container ul li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.button {
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #fff;
    max-width: 220px;
    padding: 15px 5px;
    font-size: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 300ms, box-shadow 300ms;
    text-decoration: none;
    color: #0e0e0e;
    line-height: 24px;
}

.button:hover {
background-color: #f1f1f1;
box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
}
